/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-secondary;
    transition-duration: 1s;
    &:hover {
      background-color: $color-secondary-light;
    }
  }
  
  .error {
    background-color: $color-background-2;
    transition-duration: 1s;
    &:hover {
      background-color: $color-background-2-light;
    }
  }
  
  .info {
    background-color: $color-background-1;
    transition-duration: 1s;
    &:hover {
      background-color: $color-background-1-light;
    }
  }
  
  .success {
    background-color: $color-background-3;
    transition-duration: 1s;
    &:hover {
      background-color: $color-background-3-light;
    }
  }
  
  .warning {
    background-color: $color-background-4;
    transition-duration: 1s;
    &:hover {
      background-color: $color-background-4-light;
    }
  }
  